/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #ffffff;
    color: #AB0E2F;
}

.header {
    background-color: #AB0E2F;
    text-align: center;
    padding: 10px 0;
}

.imagem-cabeçalho {
    height: 60px;
    margin-top: 10px;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 15px;
}

.listing-heading {
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.imagem {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 20px;
}

.conteudo {
    line-height: 1.8;
}

.paragrafo {
    text-align: justify;
    margin-bottom: 20px;
}

.footer {
    background-color: #AB0E2F;
    color: #E1B8C0;
    text-align: center;
    padding: 10px 0;
    position:relative;
    bottom: 0;
    width: 100%;
}

@media (max-width: 768px) {
    .listing-heading {
        font-size: 2em;
    }

    .imagem-cabeçalho {
        height: 50px;
    }

    .imagem {
        border-radius: 5px;
    }

    .paragrafo {
        margin-left: 10px;
        margin-right: 10px;
    }
}

html ::-webkit-scrollbar-track {
    background: #AB0E2F;
  }
  html ::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: #68091E;
  }
  html ::-webkit-scrollbar {
    width: 5px;
  }