<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GearheadBR</title>
    <link rel="stylesheet" href="/static/index.css">
    <link rel="icon" href="img/pin.png" type="image/png">
</head>
<body class="fundo-texto">
    <header class="header">
        <img src="img/Gearheadbr (1).png" alt="Logotipo do site" class="imagem-cabeçalho">
    </header>
    <main>
        <h1 class="listing-heading">Koenigsegg Jesko Absolut <br> Estabelece Recorde de Velocidade</h1>
        <img src="img/carro.png" alt="Koenigsegg Jesko Absolut" class="imagem">
        <section class="conteudo">
            <p class="paragrafo">Neste mês, a marca sueca Koenigsegg fez história ao realizar testes intensivos com seu mais recente hypercarro, o Jesko Absolut 2024. Durante esses testes, o Jesko Absolut não apenas confirmou sua reputação como um dos mais rápidos do mundo, mas também estabeleceu um novo recorde ao se tornar o carro mais veloz na faixa dos 200 até os 400 km/h.</p>
            <p class="paragrafo">Essa conquista coloca a Koenigsegg na vanguarda da engenharia automotiva de alta performance, superando não apenas os limites de velocidade anteriores, mas também eclipsando a concorrência direta, como a renomada Bugatti. A marca não poupou esforços para otimizar cada aspecto do Jesko Absolut, desde o design aerodinâmico até o poderoso motor, que desempenhou um papel crucial em alcançar essa notável marca.</p>
            <p class="paragrafo">Com cada detalhe meticulosamente ajustado e testado, o Jesko Absolut não apenas alcançou velocidades vertiginosas, mas também demonstrou um equilíbrio excepcional entre potência bruta e controle refinado. Este feito não é apenas um marco para a Koenigsegg, mas também para toda a indústria automotiva, destacando o contínuo avanço tecnológico e a busca incansável pela excelência em engenharia.</p>
            <p class="paragrafo">À medida que a Koenigsegg celebra esse recorde impressionante, o mundo automotivo aguarda ansiosamente para ver qual será o próximo passo da marca na sua jornada para definir novos padrões de desempenho e inovação no segmento de hypercarros.</p>
        </section>
    </main>
    <footer class="footer">
        <p>&copy; 2024 GearheadBR. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
